<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xml>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsivas061.learningmycity"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.mymap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.example.mymap.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="learningmycity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/title_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="learningmycity.TaskActivity"
            android:configChanges="orientation"
            android:label="@string/title_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.QuestOverviewActivity"
            android:configChanges="orientation"
            android:label="@string/title_quest_overview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.PathOverviewActivity"
            android:configChanges="orientation"
            android:label="@string/title_path_overview"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.DescriptionActivity"
            android:configChanges="orientation"
            android:label="@string/title_description"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.PathListActivity"
            android:configChanges="orientation"
            android:label="@string/title_path_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.HintsActivity"
            android:configChanges="orientation"
            android:label="@string/title_hints"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.MapActivity"
            android:configChanges="orientation"
            android:label="@string/title_map"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.LeaderboardActivity"
            android:configChanges="orientation"
            android:label="@string/title_leaderboard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.FeedbackActivity"
            android:configChanges="orientation"
            android:label="@string/title_feedback"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/title_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="learningmycity.PrefsActivity"
            android:configChanges="orientation"
            android:label="@string/title_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="<API_KEY>" />
    </application>

</manifest>